.container{
    padding: 0 50px;
    max-width: 1250px;
    margin: auto;
    background-color: #fff !important;
    box-shadow: 0px 0px 5px 0px #efefef;
    .ant-layout-footer{
        text-align: center;
        border-top: 1px solid rgba(0, 0, 0, 0.12);
        background-color: #fff !important;
    }
}